* {
    margin: 0;
    padding: 0;
    transition: 0.4s ease-in-out;
}

:root {
    --main-bg: #ffffff;
    --header-bg: #b35b5b;
    --main-txt: #333333;
    --accent1: #b35b5b;
    --accent2: #354552;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Karla', sans-serif, sans-serif;, sans-serif;
	font-size: 12px;
	color: var(--main-txt);
}

header {
	padding: 30px 0;
	width: 100%;
	background: var(--header-bg);
	color: var(--main-bg);
	text-align: center;
}

header h1 {
	text-transform: uppercase;
	font-weight: normal;
}

#calculator {
	width: 400px;
	margin: 0 auto;
}

#calculator p {
	margin-top: 40px;
	text-align: center;
}

input {
	display: block;
	margin: 30px 0;
	padding: 20px 0;
	width: 100%;
	background: var(--accent2);
	color: var(--main-bg);
	font-family: 'Karla', sans-serif;
	text-align: center;
	text-transform: uppercase;
	border: 0;
	border-radius: 3px;
}

::placeholder { color: rgba(255, 255, 255, 0.7);}
:focus::placeholder { color: transparent;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
	margin: 0;
}

input[type='number'] {-moz-appearance:textfield;}

button {
	padding: 20px;
	color: var(--main-txt);
	font-family: 'Karla', sans-serif;
	outline: 0;
	border: 0;
	border-radius: 3px;
}

#buttons-wrapper {
	display: flex;
	justify-content: space-between;
}

#buttons-wrapper button {
	text-transform: uppercase;
	box-shadow: 0px 10px 30px -10px rgba(0,64,128,0.2);
}

#buttons-wrapper button:hover {
	background: var(--accent1);
	color: var(--main-bg);
	cursor: pointer;
}

#damage-wrapper {
	margin: 40px 0;
	font-size: 2em;
	text-align: center;
}

#result {
	display: none;
	padding: 20px 0;
	width: 100%;
	background: var(--accent1);
	color: var(--main-bg);
	border-radius: 3px;
}

footer {
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}

#heart {
	font-size: 1.3em;
	color: var(--accent1);
}

@media only screen and (max-width : 800px) {

	header h1 {
		font-size: 1.4em;
	}

	#calculator {
		width: 80%;
	}

	#calculator p {
		margin-top: 20px;
	}

	input {
		margin: 20px 0;
	}

	#damage-wrapper {
		margin: 20px 0;
	}
}
